.join {
  height: 100vh;
  align-items: center;
  align-content: center;
}
.join .slectWork {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.join .joinFormBtn {
  background-color: aliceblue;
}
