.joinPage .content {
  padding-top: 60px;
  width: 100%;
  color: var(--text-gray);
}
.joinPage .hidden {
  visibility: hidden;
}
.joinPage .start .slectWork {
  background-color: var(--box-3);
}
.joinPage .start .joinFormBtn {
  border: 1px solid var(--primary-300);
  color: var(--text-gray);
}

.joinPage .indexView {
  color: var(--text-gray);
  display: flex;
  flex-direction: row;
}
.joinPage .index {
  display: flex;
}
