.join {
  height: 100vh;
}
.join > .screen {
  height: 90vh;
  color: var(--text-primary);
  align-items: center;
  align-content: center;
}
.join form {
  width: 100vw;
  padding-bottom: 100px;
}
.join .text {
  font-size: 20px;
  font-weight: 200;
}
.join .subText {
  font-size: 14px;
  font-weight: 100;
}
.join .control {
  flex-direction: row;
  justify-content: space-around;
}
.join .control > div {
  margin-top: 30px;
  z-index: 300;
  cursor: pointer;
}
.join .control > div > button {
  border: 1px solid var(--primary-200);
  border-radius: 10px;
  background-color: #00000000;
  height: 50px;
  width: 10vw;
  color: var(--text-primary);
  cursor: pointer;
}

.join .index0 {
  transform: translateY(50vh);
}

.join .index1 {
  transform: translateY(45px);
}
.join .index6 {
  transform: translateY(105px);
}
.join .index7 {
  transform: translateY(190px);
}

.join .control > div .index {
  height: 0px;
  transition-duration: 0.5s;
}

.join .control .index {
  cursor: auto;
  display: flex;
  gap: 5px;
}

.join .index > button {
  transition-duration: 0.3s;
  border: none;
}
.onform {
  transform: translateY(-6px);
}
.onIndex {
  animation: onIndex;
  animation-duration: 1s;
}
.visible {
  visibility: visible;
}
.hide {
  transform: rotateY(90deg);
}
.join form > div {
  position: absolute;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.join .formdiv {
  margin-top: -30px;
}
.join .start > .button {
  text-align: center;
  align-content: center;
  height: 60px;
  width: 200px;
  background-color: var(--backgournd-dark);
  color: var(--text-primary);
  border: 1px solid var(--primary-300);
  font-size: 20px;
  border-radius: 20px;
  font-weight: 200;
  cursor: pointer;
  user-select: none;
}
.join .start > .button:hover {
  transition-duration: 0.3s;
  border-color: var(--box-2);
  outline: none;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #8080808f;
}

.join input {
  background-color: var(--backgournd-dark);
  border: 1px solid var(--primary-200);
  border-radius: 10px;
  height: 50px;
  width: 30%;
  z-index: 0;
  color: var(--text-primary);
  text-align: center;
  font-size: medium;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.join input:focus {
  border-color: var(--brand-red);
  outline: none;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px var(--brand-red);
  transition-duration: 0.5s;
}
.join select {
  background-color: var(--backgournd-dark);
  border: 1px solid var(--primary-200);
  border-radius: 10px;
  height: 50px;
  width: 30%;
  color: var(--text-primary);
  text-align: center;
  font-size: medium;
}
.join select:focus {
  transition-duration: 0.5s;
  border-color: var(--brand-red);
  outline: none;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px var(--brand-red);
}
.join textarea {
  background-color: var(--backgournd-dark);
  border: 1px solid var(--primary-200);
  border-radius: 10px;
  height: 100px;
  width: 30%;
  color: var(--text-primary);
  padding: 4px;
  resize: none;
  z-index: 1;
}
.join textarea:focus {
  border-color: var(--brand-red);
  outline: none;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px var(--brand-red);
}

.join .mdOpen {
  height: 10px;
  height: 14px;
  cursor: pointer;
}

.join .checkInfo {
  position: relative;
  background-color: var(--backgournd-dark);
  border: 1px solid var(--primary-200);
  border-radius: 10px;
  width: 400px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: var(--text-primary);
  padding: 4px;
  resize: none;
  overflow: hidden;
  z-index: 0;
}
.join .checkInfo > div {
  width: 100%;
  font-weight: 50;
  align-content: center;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.join .hor {
  flex: 0.9;
  margin-top: 10px;
  border-top: 1px dotted var(--primary-200);
}
.join .checkInfo > div > .checkIcon {
  color: rgb(16, 206, 80);
  width: 15px;
}
.join .checkInfo > div > .errorIcon {
  color: var(--brand-red);
  width: 15px;
  visibility: visible;
  cursor: pointer;
}

.join .submit {
  background-color: var(--box-1);
  border: 1px solid var(--text-primary);
  border-radius: 10px;
  width: 200px;
  height: 50px;
  color: var(--text-primary);
  font-size: medium;
  z-index: 0;
  animation-duration: 2s;
  font-weight: 200;
}
.join .submit:hover {
  border-color: var(--brand-red);
  outline: none;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px var(--brand-red);
}
.join .submitError {
  height: 50px;
  align-content: center;
  font-size: 17px;
}
.join .errorText {
  color: var(--brand-red);
  font-weight: 300;
}

@keyframes onIndex {
  0% {
    color: #f5f5f500;
    border-color: #f5f5f500;
  }
  100% {
  }
}

@media screen and (max-width: 767px) {
  .join textarea {
    width: 200px;
  }
  .join .checkInfo {
    width: 54%;
  }
  .join select {
    width: 200px;
  }
  .join input {
    width: 200px;
  }
  .join .submit {
    width: 130px;
  }
  .join .subText {
    font-size: 11px;
  }
  .join .formdiv {
    margin-top: -25px;
  }
  .join .checkInfo > div {
    flex-direction: row;
    justify-content: start;
    gap: 5px;
  }
  .join .hor {
    position: fixed;
  }
  .join .mdOpen {
    position: absolute;
    height: 14px;
    right: 10px;
  }
}
