.bottomBar {
  position: fixed;
  bottom: 0px;
  background-color: #0c0c0c;
  border-top: 1px solid #b6b6b62c;
  width: 700px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  z-index: 500;
  user-select: none;
}
.bottomBar .inviteLinkBottom {
  position: absolute;
  top: -1px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #121212;
  border-top: 1px solid #121212;
  z-index: 800;
}
.menu-button {
  padding-bottom: 3px;
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: center;
  flex: 1;
  text-decoration: none;
  align-content: center;
  text-align: center;
  font-size: small;
  font-weight: 200;
  color: #979797c2;
}
.menu-button .button-icon {
  font-size: 18px;
}
.menu-button:hover {
  background-color: #121212;
}
.selcetMenu {
  background-color: #121212;
}
@media screen and (max-width: 767px) {
  .bottomBar {
    width: 100%;
  }
}
