.topBar {
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 700px;
  padding: 2px 0px;
  height: 35px;
  background-color: #0c0c0c;
  border-bottom: 1px solid #222222;
  user-select: none;
  z-index: 810;
}
.inviteLink {
  background-color: #121212;
  border-bottom: none;
}
.out {
  padding: 3%;
  width: 100px;
}
.out > * {
  text-decoration: none;
  font-size: small;
  color: #f5f5f5;
}
.ClubRoomNavbar .button {
  padding: 3%;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  width: 100px;
}
.ClubRoomNavbar .button > * {
  text-decoration: none;
  font-size: small;
  color: #f5f5f5;
}
.ClubRoomNavbar .title {
  color: #f5f5f5;
  align-content: center;
  text-align: center;
  align-items: center;
  margin-top: -10px;
  height: 40px;
  text-align: center;
}

.ClubRoomNavbar .manchui-logo {
  scale: 0.7;
  margin: 0px;
}
.title-text {
  font-weight: 500;
  font-size: 20px;
  margin-top: 10px;
  width: max-content;
}
.ClubRoomNavbar .navIcons {
  font-size: 15px;
}
.ClubRoomNavbar .menu {
  position: fixed;
  top: 0px;
  right: -70%;
  width: 490px;
  height: 100vh;
  background-color: #0c0c0c;
  color: #b1b1b1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition-duration: 0.3s;
}
.ClubRoomNavbar .openMenu {
  right: 0px;
}
.ClubRoomNavbar .topMenu {
  margin-top: 20px;
  justify-items: center;
  position: relative;
}
.ClubRoomNavbar .closeMenu {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 25px;
}
.ClubRoomNavbar .menu .menubutton {
  border-top: 1px solid #333333;
  padding: 30px;
}
.ClubRoomNavbar .menu .menuLogoBox {
  width: 150px;
}
.ClubRoomNavbar .menu .menuLogo {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .topBar {
    width: 100%;
  }
  .ClubRoomNavbar {
    width: 100%;
  }
  .ClubRoomNavbar .menu {
    width: 70%;
  }
}
