.club-room {
  width: 100%;
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.club-room .my-info {
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: relative;
  overflow: hidden;
}
.club-room .my-info .profil {
  width: 95%;
  z-index: 2;
  background-color: var(--background-dark);
}
.club-room .my-info .profilCard {
  margin-top: 10px;
  padding: 5px;
  color: var(--text-primary);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.club-room .my-info .user {
  display: flex;
  gap: 10px;
  height: 100px;
  border-bottom: 1px solid var(--primary-200);
}
.club-room .my-info .userText {
  flex: 4;
  align-content: center;
  color: #f0f0f0bd;
  font-weight: 200;
}
.club-room .Identification {
  font-size: 12px;
}
.club-room .user .username {
  font-size: x-large;
  font-weight: 500;
}
.club-room .requestSchedule {
  margin: 10px;
  padding: 10px;

  border-radius: 10px;
}
.club-room .present {
  display: flex;
  gap: 5px;
  align-items: center;
}
.club-room .persentText {
  font-size: 13px;
  color: var(--primary-300);
}
.club-room .barWarp {
  flex: 1;
  background-color: var(--box-1);
  align-content: center;
  height: 7px;
}
.club-room .persentBar {
  transition-duration: 0.3s;
  height: 100%;
  background-color: var(--brand-red);
}
.club-room .practiceView {
  margin: 10px;
  padding: 10px;
}
.club-room .pracList {
  display: flex;
  flex-direction: column;
}
.club-room .practiceCard {
  display: flex;
  justify-content: space-between;
  color: var(--primary-300);
  margin: 3px 0px;

  border-radius: 3px;
  padding: 5px;
}
