.club-room {
  width: 100%;
  color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.my-info {
  margin-top: 17px;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: relative;
  overflow: hidden;
}
.club-room .title {
  font-weight: 500;
  font-size: 19px;
  margin-left: 5px;
}
.club-room .profilMenu {
  position: relative;
  align-items: center;
}
.club-room .menuIcon {
  width: 15px;
  height: 15px;
  color: #ebebeb;
}
.club-room .menuContent {
  position: absolute;
  right: -300px;
  transition-duration: 0.5s;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  background-color: #0c0c0c;
}
.club-room .profilMenuOn {
  right: 0px;
}
.club-room .menuContent > div {
  font-size: small;
  text-align: center;
  width: max-content;
  font-weight: 150;
}
.club-room .toAdmin > * {
  text-decoration: none;
}

.my-info .infoBack {
  position: absolute;
  width: 95%;
  height: 310px;
  top: 34px;
  z-index: 1;
  border-radius: 10px;
  overflow: hidden;
}
.club-room .my-info .topMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.my-info .profil {
  width: 95%;
  z-index: 2;
  background-color: #0c0c0c79;
}
.my-info .profilCard {
  height: 300px;
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #3333331f;
  color: #f5f5f5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.my-info .user {
  display: flex;
  gap: 10px;
  height: 100px;
  border-bottom: 1px solid #5f5f5f;
}
.my-info .userImage {
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 20px;
  height: 80px;
  width: 80px;
  background-color: #e0e0e041;
  overflow: hidden;
}
.club-room .defaultImage {
  margin-top: 10px;
  width: 80px;
}
.my-info .userText {
  flex: 4;
  align-content: center;
  color: #f0f0f0bd;
  font-weight: 200;
}
.user .username {
  font-size: x-large;
  font-weight: 500;
}
.profilCard .nextPractice {
  width: 100%;
  margin-top: 10px;
}

.club-room .content {
  margin-top: 15px;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #96151500;
}
.club-room > .content > .schedule {
  width: 95%;
  padding: 5px;
}
.club-room .schedule > .topMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.club-room .topMenu > .right {
  display: flex;
  flex-direction: row;
  gap: calc(5px + 1vw);
  font-size: 12px;
  text-align: center;
  font-weight: 300;

  align-items: center;
  color: #f0f0f0bd;
}
.club-room .topMenu > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
}
.club-room .topMenu .createSchedule {
  color: #f0f0f0bd;
  text-decoration: none;
}
.club-room .topMenu > div > .month {
  border-radius: 10px;
  width: 30px;
  background-color: #751a0fc4;
  font-size: 12px;
  text-align: center;
  font-weight: 300;
  align-content: center;
}
.club-room .swiper {
  border: 1px solid #333333;
  border-radius: 10px;
  margin-top: 10px;
  height: 150px;
  width: 100%;
  overflow: hidden;
}

.club-room .swiper .swiperBox {
  align-items: center;
  height: 150px;
  align-content: center;
  width: calc(700px * 0.95);
}
.club-room .swiper .swipeContent {
  display: flex;
  padding: 0px 5px 0px 5px;
  gap: 1vw;
  justify-content: space-between;
}
.club-room .days {
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0px 5px 0px;
  justify-content: space-between;
  height: 130px;
  border-radius: 10px;
  position: relative;
  font-size: 14px;
  font-weight: 300;
  background-color: #1f1f1f5e;
  overflow: hidden;
}
.club-room .sunday {
  color: #75190f;
}
.club-room .isToday .sunday {
  color: #0c0c0c;
}
.club-room .saturday {
  color: #2c3dff;
}
.club-room .isToday .saturday {
  color: #0c0c0c;
}
.club-room .isToday {
  border-radius: 50px;
  background-color: #e2e2e23f;
  color: #0c0c0c;
  font-weight: 600;
}
.club-room .days .top {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40px;
  height: 37px;
  padding-top: 3px;
  gap: 3px;
}

.club-room .Written {
  width: 10px;
  height: 30px;
  border-radius: 5px;
  background-color: #75190fd3;
}
.club-room .notWritten {
  width: 10px;
  height: 30px;
  border-radius: 5px;
  background-color: #333333;
}
.club-room .days .bottom {
  border-top: 2px dotted #5f5f5f;
  height: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.club-room .editSchedule {
  position: absolute;
  top: 0px;
  background-color: #1f1f1f9d;
  padding: 3px 5px 30px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20px;
  color: #ebebeb;
  cursor: pointer;
}
.club-room .explanation {
  margin-top: 10px;
  width: 100%;
  display: flex;
  gap: 5px;
  justify-content: end;
}
.club-room .explanation > div {
  font-size: 12px;
  color: #f0f0f0bd;
  align-content: center;
  align-items: center;
  display: flex;
  gap: 2px;
}
@media screen and (max-width: 767px) {
  .club-room .swiper .swiperBox {
    width: 95vw;
  }
}
