.club-room {
  height: auto;
  width: 100%;
  background-color: #121212;
  color: white;
}
.my-info {
  margin: 10px;
  align-items: center;
  width: 95%;
  height: 180px;
  display: flex;
  justify-content: space-around;

  background-color: #1b1b1b;
  border-radius: 10px;
  box-shadow: #616161 1px 1px;
}
.my-info > .profil {
  width: 30%;
}
.profil > .username {
  font-size: x-large;
  font-weight: 500;
}
.profill-button {
  margin-top: 10px;
}
.profill-button > * {
  font-size: small;
  color: #c4c4c4;
}
.next-practice {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 60%;
  padding-top: 5px;
  text-align: center;
}
.next-practice > h3 {
  font-size: medium;
}
.next-practice > .schedule {
  height: 150px;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}
.menu {
  height: auto;
  padding-bottom: 30px;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  margin: 10px;
  align-items: center;
  width: 95%;

  background-color: #1b1b1b;
  border-radius: 10px;
  box-shadow: #616161 1px 1px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
}
.menu .menu-button {
  aspect-ratio: 1/1;
  border-radius: 10px;

  background-color: #9e9e9e;
  text-align: center;
  align-content: center;
  font-size: 30px;
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 160px);
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
  }
}
