.editSchedule {
  background-color: var(--background-dark);
}
.editSchedule .dateContainer {
  height: 60px;
  display: flex;
  padding: 0px 30px;
  justify-content: space-between;
  align-items: end;
  user-select: none;
  background-color: var(--background-dark);
}
.editSchedule .date {
  font-size: 20px;
  font-weight: 200;
  color: var(--text-gray);
}
.editSchedule .clear {
  display: flex;
  align-items: center;
  font-weight: 300;
}
.editSchedule .clearButton {
  background-color: var(--background-dark);
  color: var(--text-gray);
  border: none;
  margin-bottom: 3px;
}

.editSchedule .seeDawn .seeDawnText {
  font-size: 13px;
  font-weight: 300;
  padding: 2px 5px;
  background-color: var(--background-dark);
  border: none;
  cursor: pointer;
  color: var(--text-gray);
}
.editSchedule .timeSlotsContainer {
  border-top: 1px solid var(--background-dark);
  border-bottom: 1px solid var(--background-dark);
  max-height: calc(100vh - 230px);
  overflow-y: auto;
  margin-right: 30px;
  margin-left: 30px;
}
.editSchedule .timeSlots {
  padding: 10px 10px 10px 0px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: var(--background-dark);
}
.editSchedule .timeSlot {
  height: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
.editSchedule .timeSlot .time {
  position: relative;
  color: var(--text-gray);
  text-align: center;

  line-height: 40px;
  flex: 0.7;
  border-right: 1px solid var(--primary-200);
  border-radius: 0px 10px 10px 0px;
  background-color: var(--box-1);
}
.editSchedule .timeSlot .timeText {
  position: absolute;
  right: 15px;
  color: var(--text-gray);
  border-radius: 5px;
  font-size: 18px;
  font-weight: 400;
}
.editSchedule .timeSlot .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0.5;
  color: var(--text-gray);
  line-height: 70px;
}
.editSchedule .timeSlot .content .line {
  height: 1%;
  background-color: var(--primary-200);
  border-radius: 5px;
  flex: 1;
}
.editSchedule .selcetButton {
  height: 100%;
  width: 100px;
  position: relative;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.editSchedule .timeSlot .content .status {
  width: 80px;
  height: 45%;
  text-align: center;
  border: 1px solid var(--primary-200);
  cursor: pointer;
}
.editSchedule .status0 {
  border-radius: 5px 0px 0px 0px;
}
.editSchedule .status30 {
  border-radius: 0px 0px 0px 5px;
}

.editSchedule .content .status.possible {
  background-color: var(--brand-red);
  border: 1px solid var(--brand-red);
  height: 47%;
  transition-duration: 0.1s;
}
.editSchedule .allSelectButton {
  position: absolute;
  right: -20px;
  height: 94%;
  width: 35px;
  border: 1px solid var(--primary-200);
  cursor: pointer;
  border-radius: 0px 5px 5px 0px;
  z-index: 100;
}
.editSchedule .allSelectButton.possible {
  background-color: var(--brand-red);
  border: 1px solid var(--brand-red);

  transition-duration: 0.1s;
}
.editSchedule .scheduleMenuBar {
  height: 90px;
  width: 700px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  user-select: none;
  transition-duration: 0.3s;
}
.editSchedule .scheduleMenuBar .button-box {
  width: 80%;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
.editSchedule .scheduleMenuBar button {
  flex: 1;
  text-decoration: none;
  align-content: center;
  text-align: center;
  font-size: small;
  font-weight: 200;
  padding: 10px 0px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #00000000;
  color: var(--text-gray);
  border: 1px solid var(--primary-200);
}

.editSchedule .floatView {
  padding: 1px;
  position: fixed;
  bottom: 170px;
  left: 50px;
  width: 60px;
  height: 25%;
  border-radius: 10px;
  background-color: #1a1a1ad7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.editSchedule .floatView .floatTime {
  width: 100%;
  flex: 1;
  text-align: center;
  line-height: 40px;
  font-size: large;
  font-weight: 600;
  color: var(--text-gray);
}
.editSchedule .floatTimeStatus {
  width: 100%;
  height: 100%;
}
.editSchedule .possible {
  background-color: var(--brand-red);
  transition-duration: 0.3s;
}
@media screen and (max-width: 767px) {
  .editSchedule .scheduleMenuBar {
    width: 100%;
  }
}
