.ScheduleCalender .calender {
  width: 100%;
  height: 90%;
  user-select: none;
}
.ScheduleCalender .year-month {
  font-weight: 200;
  font-size: 18px;
  user-select: none;
}
.ScheduleCalender .date-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 4px;
  overflow: hidden;
  width: 100%;
  height: 40px;
}
.ScheduleCalender .calendar-day {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
}
.ScheduleCalender .calendar-table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  padding: 3px;
  background-color: #00000000;
}
.ScheduleCalender thead td {
  color: var(--text-primary);
  font-weight: 300;
  text-align: center;
}
.ScheduleCalender tbody td {
  text-align: center;
  font-size: medium;
  font-weight: 150;
  color: var(--primary-200);
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.ScheduleCalender .this-month {
  color: var(--text-gray);
}
.ScheduleCalender .stateBox {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ScheduleCalender .state {
  width: calc(50%);
  height: calc(40%);
  align-content: center;
  color: transparent;
}

.ScheduleCalender .tempSchedule {
  border-bottom: 5px dotted var(--cold-gray);
}
.ScheduleCalender .confirmSchedule {
  border-bottom: 5px solid var(--complete-green);
  color: 1px solid var(--complete-green);
}
.ScheduleCalender .requstDay {
  border-bottom: 5px solid var(--request-1);
  animation-timing-function: ease;
}
.ScheduleCalender .tempSchedule.requstDay {
  border-bottom: 5px dotted var(--request-1);

  animation-timing-function: ease;
}
.ScheduleCalender .confirmSchedule.requstDay {
  border-bottom: 5px solid var(--complete-green);
  color: 1px solid var(--complete-green);
}

.ScheduleCalender .today {
  position: absolute;
  top: 15%;
  left: 10%;
  height: 70%;
  width: 80%;
  border-radius: 20px;
  align-content: center;
  font-weight: 300;
  font-size: 19px;
  background-color: var(--background-dark);
  border: 1px solid var(--primary-200);
  color: var(--text-primary);
}
.ScheduleCalender .selectedDay {
  position: absolute;
  top: 15%;
  left: 10%;
  height: 70%;
  width: 80%;
  border-radius: 100px;

  align-content: center;
}
.ScheduleCalender .swiper {
  height: 100%;
  background-color: rgba(94, 22, 22, 0);
}
.calender .swiping {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 200;
}
