.scheduleList .listOption {
  display: flex;
  justify-content: space-around;
  margin: 10px 0px;
}
.scheduleList .listOptionBtn {
  padding: 4px;
}
.scheduleList .list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: calc(100vh - 270px);
  overflow: auto;
}
.scheduleList .request {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--primary-200);
  color: var(--text-gray);
}
.scheduleList .confirmReq {
  color: var(--complete-green);
}
