.clubRoomLayout {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #050505;
  user-select: none;
}

.clubRoombody {
  width: 700px;
  min-height: calc(100vh - 40px);
  background-color: var(--background-dark);
  margin-top: 35px;
  user-select: none;
  z-index: 100;
}

@media screen and (max-width: 767px) {
  .clubRoombody {
    width: 100%;
    position: fixed;
  }

}
