* {
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: "pretendard";
  src: url("./assets/fonts/PretendardVariable.ttf") format("truetype");
}
body {
  font-family: "pretendard";
  background-color: #0c0c0c;
  overflow-x: hidden;
}

@media screen and (min-width: 767px) {
  ::-webkit-scrollbar {
    width: 5px; /* 세로축 스크롤바 폭 너비 */
    height: 15px;
  }
}
