* {
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: "pretendard";
  src: url("./assets/fonts/PretendardVariable.ttf") format("truetype");
}
body {
  font-family: "pretendard";
  background-color: #121212;
}
