.mypage {
  color: var(--text-primary);
  background-color: var(--background-dark);
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 5px;
}
.mypage .profil {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mypage .userImage {
  margin-top: 10%;
  border-radius: 100px;
  width: 100px;
  height: 90px;
  overflow: hidden;
}
.mypage .profilImage {
  margin-top: 10px;
  width: 100%;
}
.mypage .username {
  margin-top: 5px;
  font-size: 30px;
}
.mypage .userInfo {
  font-size: 14px;
  width: max-content;
  position: relative;
  margin-bottom: 30px;
  align-content: center;
  color: var(--text-gray);
  height: 15px;
}
.mypage .userPosition {
  position: absolute;
  top: 0px;
  width: max-content;
  left: 10px;
}
.mypage .userName {
  position: absolute;
  top: 0px;
  width: max-content;
  right: 10px;
}
.mypage .infoCircle {
  margin-top: 50%;
  width: 3px;
  height: 3px;
  background-color: var(--text-gray);
  border-radius: 100px;
}
.mypage .list {
  display: flex;
  margin: 10px;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid var(--primary-200);
  border-radius: 10px;
  flex: 0.6;
  overflow: hidden;
}
.mypage .list > div {
  color: var(--text-gray);
  font-size: 15px;
  padding: 10px;
  position: relative;
  cursor: pointer;
  flex: 1;
  align-content: center;
}
.mypage .list > div:hover {
  background-color: var(--box-2);
}
.mypage .arrowRight {
  position: absolute;
  right: 15px;
  top: calc(50%-15px);
}

.editUser .popForm {
  color: var(--text-primary);
  background-color: var(--background-dark);
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 15px;
  justify-content: space-between;
}
.editUser .formHead {
  font-size: 23px;
  font-weight: 500;
  padding: 4px 10px;
}
.editUser .formExplanation {
  font-size: 14px;
  color: var(--text-gray);
  padding: 0px 10px 5px 10px;
}
.editUser .formInputBox {
  margin-top: 10px;
  border: 1px solid var(--primary-200);
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  align-content: center;
  display: flex;
  flex-direction: column;
  color: var(--text-gray);
}

.editUser .formInput {
  background-color: #00000000;
  height: 30px;
  border: none;
  color: var(--text-gray);
  font-size: 16px;
}
.editUser .formInput:focus {
  border: none;
  outline: none;
}
.editUser .submitButton {
  border: 1px solid #00000000;
  background-color: var(--brand-red);
  border-radius: 10px;
  padding: 10px 5px 10px 5px;
  margin: 10px 10px 40px 10px;
  color: var(--text-primary);
}
