.createPractice {
  position: absolute;
  top: 1px;
  background-color: #121212;
  width: 700px;
  height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 100;
  animation-name: onLoad;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
  overflow-y: scroll;
}
.createPractice .topMenu {
  margin: 0px 10px;
}
.createPractice .dateBar {
  padding: 0px 10px;
  height: 40px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #b1b1b1;
}

.createPractice .dateBar > * {
  flex: 0.3;
  width: max-content;
  text-align: center;
}
.createPractice .date {
  flex: 1;
}
.createPractice .closeButton {
  cursor: pointer;
  text-align: right;
}
.createPractice .optionMenu {
  border: 1px solid #b1b1b1;
  border-radius: 5px;
  margin: 10px 0px;
}
.createPractice .memberOption {
  align-content: center;
  position: relative;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.createPractice .obtionLable {
  position: absolute;
  top: -10px;
  left: 9px;
  font-size: 14px;
  background-color: #121212;
  color: #b1b1b1;
  padding: 0px 5px;
}
.createPractice .choiceMember {
  flex: 1;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  gap: 5px;
  padding: 7px;
  font-size: 14px;
}
.createPractice .member {
  background-color: #2c2b2b;
  padding: 3px;
  text-align: center;
  border-radius: 5px;
  transition-duration: 0.1s;
}
.createPractice .selectAllMembers {
  background-color: #1b1b1b;
  padding: 2px;
  border: 1px solid #c5c5c5;
}
.createPractice .allSelected {
  background-color: #3a3a3a;
  border: 1px solid #c5c5c500;
}
.createPractice .selected {
  background-color: #a83737;
}
.createPractice .practiceTime {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #3a3a3a;
  border-radius: 10px;
  padding-bottom: 10px;
}
.createPractice .timeBar {
  width: 97%;
  overflow: hidden;
  position: relative;
  margin-top: 10px;
  height: 25px;
}
.createPractice .openThisTable {
  transition-duration: 0.5s;
  height: 390px;
}
.createPractice .timeOpenContainer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 25px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #202020;
  border-radius: 5px;
  z-index: 5;
  font-size: 13px;
}
.createPractice .openTableTimeContainer {
  height: 30px;
  background-color: #353535;
  transition-duration: 0.3s;
  font-size: 17px;
}

.createPractice .timeOpenContainer > div {
  flex: 1;
  text-align: center;
  padding: 5px 0px;
  font-weight: 200;
}

.createPractice .timeTable {
  padding-top: 40px;
  align-items: center;
  width: 100%;
  height: calc(100% - 50px);
  position: absolute;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 4;
  overflow-y: scroll;
}
.createPractice .timeCell {
  background-color: #1a1a1a;
  border: 1px solid #33333300;
  border-radius: 10px;
  height: 30px;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 4;
  font-weight: 250;
}
.createPractice .select {
  transition-duration: 0.1s;
  background-color: #111111;
  border: 1px solid #a3a3a3;
}
.createPractice .reserved {
  background-color: #0a0a0a;
  color: rgb(90, 90, 90);
}

.createPractice .timeText {
  text-align: end;
  width: 40px;
  font-size: 14px;
}
.createPractice .availabilityIndicator {
  padding: 2px 10px 2px 0px;
  border: 1px solid #333333;
  border-radius: 5px;
  align-items: center;
  display: flex;
  width: 50%;
  gap: 2px;
}
.createPractice .ableCount {
  background-color: #121212;
  border-radius: 5px;
  color: #ffffff;
  width: 20px;
  text-align: center;
  font-size: 13px;
}
.createPractice .availabllity {
  flex: 1;
  height: 10px;
  background-color: #2a2a2a;
  position: relative;
}
.createPractice .available {
  background-color: #00e676;
}
.createPractice .hoverName {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 130%;
  color: #22222200;
  text-align: center;
  font-size: 12px;
  padding-top: 5px;
  border-radius: 5px 5px 0px 0px;
  transition-duration: 0.3s;
}
.createPractice .availabllity .hoverName:hover {
  transition-duration: 0.4s;
  color: #ffffff;
  background-color: #2a2a2a;
  height: 300%;
  bottom: -5px;
}
.createPractice .available .hoverName:hover {
  transition-duration: 0.4s;

  color: #f5f5f5;
  background-color: #00e676;
  height: 300%;
  bottom: -5px;
}

.createPractice .selectTimeButton {
  width: 28px;
  text-align: center;
  border: 1px solid #333333;
  padding: 3px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.createPractice .bottomMenu {
  margin: 0px 10px 10px 10px;
}
.createPractice .endSection {
  height: 110px;
  background-color: #121212;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}
.createPractice .practicePreview {
  border: 1px solid #333333;
  border-radius: 5px;
  height: 100px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 250;
}
.createPractice .editPreview {
  font-size: 14px;
}
.createPractice .practicePreview .top {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.createPractice .actionButtons {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.createPractice .clearButton {
  width: 100%;
  text-align: center;
  margin-top: 5px;
  padding: 6px 0px;
  border: 1px solid #333333;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.1s;
}
.createPractice .clearButton:hover {
  background-color: #333333;
}
.createPractice .createButton {
  width: 100%;
  text-align: center;
  padding: 10px 0px;
  background-color: #a83737;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.1s;
  color: #ffffff;
}
.createPractice .createButton:hover {
  background-color: #922c2c;
}
.createPractice .deleteButton {
  width: 100%;
  text-align: center;
  padding: 10px 0px;
  background-color: #2a2a2a;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.1s;
  color: #ffffff;
}

.createPractice .none {
  width: 28px;
  padding: 3px 10px;
  border: 1px solid #22222200;
}
@keyframes onLoad {
  0% {
    top: 100%;
  }
  100% {
    top: 00px;
  }
}
@media screen and (max-width: 767px) {
  .createPractice {
    top: 00px;
    width: 100%;
    position: fixed;
  }
  .createPractice .choiceMember {
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    padding: 7px;

    font-size: 11px;
  }
}
