.createTeam {
  background-color: var(--background-dark);
  color: var(--text-primary);
  width: 100%;
  height: calc(100vh - 70px);
}
.createTeam .createTeamForm {
  color: var(--text-primary);
  background-color: var(--background-dark);
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 15px;
  justify-content: space-between;
}
.createTeam .formHead {
  font-size: 23px;
  font-weight: 500;
  padding: 4px 10px;
}
.createTeam .formExplanation {
  font-size: 14px;
  color: var(--text-gray);
  padding: 0px 10px 5px 10px;
}
.createTeam .inputBox {
  margin-top: 10px;
  border: 1px solid var(--primary-200);
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  align-content: center;
  display: flex;
  flex-direction: column;
  color: var(--text-gray);
}

.createTeam .formInput {
  background-color: #00000000;
  height: 30px;
  border: none;
  color: var(--text-gray);
  font-size: 16px;
}
.createTeam .formInput:focus {
  border: none;
  outline: none;
}
.createTeam .teamColor {
  width: max-content;
}
.createTeam .inputColor {
  background-color: #00000000;
  border: none;
  height: 40px;
  width: 40px;
}

.createTeam .submitButton {
  border: 1px solid #00000000;
  background-color: var(--brand-red);
  border-radius: 10px;
  padding: 7px 5px 7px 5px;
  margin: 10px 10px 30px 10px;
  color: #f1f1f1;
}
