.createPractice {
  position: absolute;
  top: 1px;
  background-color: var(--background-dark);
  width: 700px;
  height: calc(100% - 15px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 100;
  animation-name: onLoad;
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
  overflow-y: scroll;
}
.createPractice .topMenu {
  margin: 0px 10px;
}
.createPractice .dateBar {
  padding: 0px 10px;
  height: 40px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid var(--text-gray);
}

.createPractice .dateBar > * {
  flex: 0.3;
  width: max-content;
  text-align: center;
}
.createPractice .date {
  flex: 1;
}
.createPractice .closeButton {
  cursor: pointer;
  text-align: right;
}
.createPractice .optionMenu {
  border: 1px solid var(--text-gray);
  border-radius: 5px;
  margin: 10px 0px;
}
.createPractice .memberOption {
  align-content: center;
  position: relative;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.createPractice .obtionLable {
  position: absolute;
  top: -10px;
  left: 9px;
  font-size: 14px;
  background-color: var(--box-1);
  color: var(--text-gray);
  padding: 0px 5px;
}
.createPractice .choiceMember {
  flex: 1;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  gap: 5px;
  padding: 7px;
  font-size: 14px;
}
.createPractice .member {
  background-color: var(--box-1);
  padding: 3px;
  text-align: center;
  border-radius: 5px;
  transition-duration: 0.1s;
}
.createPractice .selectAllMembers {
  background-color: var(--box-1);
  padding: 2px;
  border: 1px solid var(--primary-300);
}
.createPractice .allSelected {
  background-color: var(--primary-200);
  border: 1px solid #9b9b9b00;
}
.createPractice .selected {
  background-color: var(--brand-red);
}
.createPractice .practiceTime {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding-bottom: 10px;
  border: 1px solid var(--box-2);
}
.createPractice .timeBar {
  width: 97%;
  overflow: hidden;
  position: relative;
  margin-top: 10px;
  height: 25px;
}
.createPractice .openThisTable {
  transition-duration: 0.5s;
  height: calc(100vh - 410px);
}
.createPractice .timeOpenContainer {
  position: absolute;
  top: -1px;
  left: 0px;
  width: 100%;
  height: 26px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--box-1);
  border-radius: 5px;
  z-index: 5;
  font-size: 13px;
}
.createPractice .openTableTimeContainer {
  height: 30px;
  background-color: var(--box-2);
  transition-duration: 0.3s;
  font-size: 17px;
}

.createPractice .timeOpenContainer > div {
  flex: 1;
  text-align: center;
  padding: 5px 0px;
  font-weight: 200;
}

.createPractice .timeTable {
  padding-top: 40px;
  align-items: center;
  width: 100%;
  height: calc(100% - 50px);
  position: absolute;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 4;
  overflow-y: scroll;
}
.createPractice .timeCell {
  background-color: var(--box-1);
  border: 1px solid #00000000;
  border-radius: 16px;
  height: 30px;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 4;
  font-weight: 250;
}
.createPractice .select {
  transition-duration: 0.1s;
  background-color: var(--background-dark);
  border: 1px solid var(--primary-300);
}
.createPractice .reserved {
  background-color: var(--background-dark);
  color: var(--primary-300);
}

.createPractice .timeText {
  text-align: end;
  width: 40px;
  font-size: 14px;
}
.createPractice .availabilityIndicator {
  padding: 2px 10px 2px 0px;
  border: 1px solid var(--primary-200);
  border-radius: 5px;
  align-items: center;
  display: flex;
  width: 50%;
  gap: 2px;
}
.createPractice .ableCount {
  background-color: var(--box-1);
  border-radius: 5px;
  color: var(--text-primary);
  width: 20px;
  text-align: center;
  font-size: 13px;
}
.createPractice .availabllity {
  flex: 1;
  height: 10px;
  background-color: var(--primary-200);
  position: relative;
}
.createPractice .available {
  background-color: var(--accent-200);
}
.createPractice .hoverName {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 130%;
  color: #00000000;
  text-align: center;
  font-size: 12px;
  padding-top: 5px;
  border-radius: 5px 5px 0px 0px;
  transition-duration: 0.3s;
}
.createPractice .availabllity .hoverName:hover {
  transition-duration: 0.4s;
  color: var(--text-primary);
  background-color: var(--primary-200);
  height: 300%;
  bottom: -5px;
}
.createPractice .available .hoverName:hover {
  transition-duration: 0.4s;
  color: var(--text-primary);
  background-color: var(--accent-200);
  height: 300%;
  bottom: -5px;
}

.createPractice .selectTimeButton {
  width: 28px;
  text-align: center;
  border: 1px solid var(--primary-200);
  padding: 3px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.createPractice .bottomMenu {
  margin: 0px 10px 0px 10px;
}
.createPractice .endSection {
  height: 110px;

  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}
.createPractice .practicePreview {
  border: 1px solid var(--primary-200);
  border-radius: 5px;
  height: 100px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 250;
}
.createPractice .editPreview {
  font-size: 14px;
}
.createPractice .practicePreview .top {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.createPractice .actionButtons {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.createPractice .clearButton {
  width: 100%;
  text-align: center;
  margin-top: 5px;
  padding: 6px 0px;
  border: 1px solid var(--primary-200);
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.1s;
}
.createPractice .clearButton:hover {
  background-color: var(--primary-200);
}
.createPractice .createButton {
  width: 100%;
  text-align: center;
  padding: 10px 0px;
  background-color: var(--brand-red);
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.1s;
  color: var(--text-primary);
}
.createPractice .createButton:hover {
  background-color: #922c2c;
}
.createPractice .deleteButton {
  width: 100%;
  text-align: center;
  padding: 10px 0px;
  background-color: var(--primary-200);
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.1s;
  color: var(--text-primary);
}

.createPractice .none {
  width: 28px;
  padding: 3px 10px;
  border: 1px solid #00000000;
}
@keyframes onLoad {
  0% {
    top: 100%;
  }
  100% {
    top: 0px;
  }
}
@media screen and (max-width: 767px) {
  .createPractice {
    width: 100%;
  }
  .createPractice .choiceMember {
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    padding: 7px;

    font-size: 11px;
  }
}
