.teamPage {
  color: var(--text-primary);
  background-color: var(--background-dark);
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}
.teamPage .topMenu {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}
.teamPage .newTeamButton {
  padding: 4px;
  border-radius: 10px;
}
.teamPage .listContainer {
  overflow-y: scroll;
  margin: 0px 10px;
}
.teamPage .joinedList {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 5px 10px;
}

.teamPage .joinedTeam {
  padding: 10px 10px 10px 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  border-radius: 20px;
  color: var(--text-gray);
  background-color: var(--box-1);
  overflow: hidden;
  box-shadow: 0 8px 32px var(--background-dark);
}
.teamPage .colorLabel {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 10px;
}
.teamPage .joinedTeam .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.teamPage .joinedTeam .right {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.teamPage .teamName {
  margin-top: 15px;
  font-size: 23px;
  font-weight: 500;
  color: var(--text-gray);
}
.teamPage .dday {
  font-size: 15px;
  font-weight: 200;
  margin-bottom: 5px;
}
.teamPage .tag {
  visibility: hidden;
}
.teamPage .tag.active {
  visibility: visible;
  margin-top: 15px;
  padding: 2px 5px 2px 5px;
  width: max-content;
  text-shadow: 0px 0px 1px;
  color: var(--text-gray);
  background-color: var(--brand-red);
  border-radius: 10px;
  font-size: 13px;
  align-self: flex-end;
}

.teamPage .teamInfo {
  display: flex;
  gap: 10px;
  font-size: 16px;
  color: var(--primary-300);
  background-color: #00000054;
  padding: 10px;
  border-radius: 14px;
}
.teamPage .teamInfo > div {
  display: flex;
  flex-direction: column;
  gap: 7px;
  text-align: center;
  font-size: 13px;
}
