.teamPage {
  color: var(--text-primary);
  background-color: var(--background-dark);
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}
.teamPage .topMenu {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  margin: 10px;
}
.teamPage .topMenu > h4 {
  font-size: 20px;
  font-weight: 300;
}
.teamPage .newTeamButton {
  background-color: var(--box-2);
  padding: 4px;
  border-radius: 10px;
}
.teamPage .listContainer {
  overflow-y: scroll;
  margin: 0px 10px;
}
.teamPage .joinedList {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 5px 10px;
}

.teamPage .joinedTeam {
  position: relative;
  display: flex;
  padding: 0px 3%;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  border-radius: 5px;
  color: var(--text-gray);
  background-color: var(--box-1);
  font-size: 18px;
  font-weight: 250;
}
.teamPage .labelColor {
  position: absolute;
  background-color: var(--brand-red);
  left: 0px;
  height: 100%;
  width: 2%;
}
