.teamCalender .calender {
  width: 100%;
  height: 80%;
  user-select: none;
}
.teamCalender .year-month {
  font-weight: 200;
  font-size: 13px;
  user-select: none;
}
.teamCalender .date-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 4px;
  overflow: hidden;
  width: 100%;
  height: 30px;
}
.teamCalender .calendar-day {
  width: 100%;
  font-size: 12px;
  border-collapse: collapse;
}
.teamCalender .calendar-table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  padding: 3px;
  background-color: #00000000;
}
.teamCalender thead td {
  color: var(--text-primary);
  font-weight: 300;
  text-align: center;
}
.teamCalender tbody td {
  text-align: center;
  font-size: 12px;
  font-weight: 150;
  color: var(--primary-200);
  position: relative;
}
.teamCalender .this-month {
  color: var(--text-primary);
  background-color: #00000000;
}
.teamCalender .this-month > .dateSchedule {
  background-color: var(--primary-200);
}
.teamCalender .today {
  position: absolute;
  top: 25%;
  left: 10%;
  height: 50%;
  width: 80%;
  border-radius: 100px;
  background-color: var(--primary-200);

  align-content: center;
}
.teamCalender .selectedDay {
  position: absolute;
  top: 25%;
  left: 10%;
  height: 50%;
  width: 80%;
  border-radius: 100px;
  background-color: var(--brand-red);
  align-content: center;
}
.teamCalender .dateSchedule {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 6px;
  border-radius: 10px;
  background-color: var(--box-1);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.teamCalender .dateSchedule > div {
  border-radius: 10px;
  width: 15%;
  height: 100%;
}
.teamCalender .requestSchedule {
  background-color: var(--request-1);
}
.teamCalender .teamPractice {
  background-color: #4caf50;
}
.teamCalender .swiper {
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  position: relative;
}
.teamCalender .swiping {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;

  z-index: 200;
}
