.practice {
  color: var(--text-primary);
  background-color: var(--background-dark);
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  position: relative;
}
.practice .topMenu {
  width: 100%;
  padding-top: 10px;
}
.practice .monthSelector {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin: 10px 30px;
}
.practice .monthSelector > div {
  flex: 1;
  text-align: center;
  background-color: var(--box-1);
  padding: 5px;
  border-radius: 10px;
}
.practice .monthText {
  font-size: 18px;
}
.practice .toToday {
  color: var(--primary-300);
}
.practice .dateSelcetor {
  width: 100%;
}
.practice .swiper {
  background-color: transparent;
  width: 130%;
  left: -15%;
}
.practice .dateBox {
  text-align: center;
  background-color: var(--box-2);
  aspect-ratio: 12/13;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
  color: var(--primary-300);
}
.practice .selectDateBox {
  animation-name: changeDate;
  animation-duration: 0.3s;
  background-color: var(--brand-red);
  color: var(--text-primary);
}
.practice .dateText {
  margin-top: 15%;
  font-size: 150%;
  font-weight: 400;
}
.practice .selectDateBox .day {
  color: var(--text-primary);
}
.practice .day {
  color: var(--primary-300);
}
.practice .practiceCountBox {
  display: flex;
  justify-content: center;
  gap: 2px;
}
.practice .practiceCount {
  width: 5px;
  height: 5px;
  background-color: var(--text-gray);
  margin-bottom: 5px;
  border-radius: 20px;
}
.practice .seeOptionSelector {
  margin: 30px 20px 20px 20px;
  position: relative;
  border-radius: 13px;
  overflow: hidden;
  border: 3px solid var(--box-3);
}
.practice .optionFrontBox {
  display: flex;
  justify-content: space-between;
}
.practice .optionBox {
  flex: 1;
}
.practice .optionButton {
  text-align: center;
  background-color: var(--box-3);
  color: var(--primary-300);
  padding: 8px;
  font-size: 14px;
  position: relative;
  z-index: 10;
}
.practice .optionText {
  z-index: 40;
}

.practice .optionBackBox {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.practice .optionBackBox > div {
  flex: 1;
}
.practice .firstBox {
  position: relative;
}
.practice .optionBack {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  bottom: 0px;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  z-index: 20;
  display: flex;
}

.practice .optionBackColor {
  color: var(--text-primary);
  background-color: var(--brand-red);
  text-align: center;
  border-radius: 10px;
  padding: 8px;
  flex: 1;
  margin: 0px 1%;
  font-size: 14px;
  position: relative;
  z-index: 10;
}

.practice .option1 {
  left: 0%;
}
.practice .option2 {
  left: 100%;
}

.practice .practiceCard {
  background-color: var(--box-1);
  color: var(--primary-300);
  padding: 5px;
  height: 66px;
  border-radius: 14px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  font-size: 17px;
  font-weight: 250;
  margin: 6px 15px;
}
.practice .noPrac {
  align-items: center;
  justify-content: center;
}
.practice .pracTop {
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}
.practice .pracTeam {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: start;
  animation-name: pracCardOn;
  animation-duration: 0.3s;
}
.practice .teamName {
  color: var(--text-gray);
  font-size: 19px;
  font-weight: 400;
  animation-name: pracCardOn;
  animation-duration: 0.5s;
}
.practice .member {
  font-size: 14px;
}

.practice .pracInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: start;
  font-size: 14px;
  animation-name: pracCardOn;
  animation-duration: 0.3s;
}
.practice .pracTime {
  color: var(--text-gray);
  font-size: 22px;
  font-weight: 400;
  animation-name: pracCardOn;
  animation-duration: 0.5s;
}
.practice .pracBottom {
  margin: 5px 0px 5px 10px;
  padding: 3px 1px;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  animation-name: pracCardOn;
  animation-duration: 0.5s;
}

.practice .floatAddPractice {
  position: fixed;
  right: 15px;
  bottom: 60px;
  background-color: var(--brand-red);
  font-size: 14px;
  padding: 3px;
  border-radius: 10px;
}

.practice .newPractice {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-color: #00000000;
  display: flex;
  flex-direction: column;
  animation-name: popNewPractice;
  animation-duration: 0.3s;
}
.practice .closeSection {
  flex: 1;
  background-color: #00000000;
}
.practice .buttonBox {
  display: flex;

  border-radius: 10px;
  background-color: var(--background-dark);
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 170px;
}
.practice .buttonBox > button {
  height: 50px;
  width: 150px;
  background-color: var(--box-3);
  color: var(--text-gray);
  font-size: 18px;
  font-weight: 800;
  border: none;
  border-radius: 14px;
}

.practice .icon {
  transform: translateY(1px);
}
.practice .timeIcon {
  margin-left: 5px;
}

@keyframes popNewPractice {
  0% {
    bottom: -200px;
  }
  100% {
    bottom: 0px;
  }
}

@keyframes changeDate {
  0% {
    background-color: var(--box-2);
  }
  100% {
    background-color: var(--brand-red);
  }
}

@keyframes pracCardOn {
  0% {
    transform: translateY(-10%);
    background-color: transparent;
    color: transparent;
    border-color: transparent;
  }
  100% {
    transform: translateX(0px);
  }
}
