.practice {
  color: #f5f5f5;
  background-color: #121212;
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  position: relative;
}

.practice .weekSelector {
  height: 90px;
  position: sticky;
  top: 0px;
}

.practice .topMenu {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  padding-top: 10px;
}

.practice .myPractice {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.practice .practicesBottom {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.practice .listControler {
  display: flex;
  justify-content: space-around;
}
.practice .practiceList {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 5px;
  gap: 5px;
  border-radius: 5px;
}
.practice .listPracticeCard {
  background-color: #2c2c2c;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  font-weight: 250;
}
.practice .listIndex {
  background-color: #1d1d1d00;
  padding: 0px;
}

.practice .listPracticeCard > div {
  flex: 1;
  text-align: center;
}

.practice .floatAddPractice {
  float: right;
}
