.practice {
  color: #f5f5f5;
  background-color: #0c0c0c;
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  position: relative;
}
.practice .weekSelector {
  height: 90px;
  border: 1px solid #333333;
  border-radius: 10px;
  overflow: hidden;
  position: sticky;
  top: 0px;
}

.practice .weekSwiper {
  height: 100%;
  width: 100%;
}

.practice .weekSlide {
  background-color: #0c0c0c;
}

.practice .weeks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 100%;
}
.practice .weekDay {
  flex: 1;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #0c0c0c;
}

.practice .datePractices {
  display: flex;
  width: 100%;
  height: 10px;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.practice .datePracticeObject {
  width: 8px;
  height: 8px;
  border-radius: 20px;
  background-color: #b1b1b1;
}
.practice .topMenu {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 10px;

  border: 1px solid #b1b1b1;
}
.practice .listControler {
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
}
.practice .controlButton {
  border-radius: 5px;
  background-color: #1d1d1d;
  font-size: 14px;
  font-weight: 250;
  padding: 4px;
}
.practice .myPractice {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.practice .practicesBottom {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.practice .practiceList {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 5px 5px 80px 5px;
  margin: 5px;
  gap: 10px;
  border-radius: 5px;
  position: relative;
}
.practice .practiceDateText {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 200;
}
.practice .listPracticeCard {
  background-color: #1d1d1d;
  padding: 10px 5px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  font-weight: 250;
}
.practice .listIndex {
  background-color: #1d1d1d00;
  padding: 0px;
}

.practice .listPracticeCard > div {
  flex: 1;
  text-align: center;
}
.practice .practiceCard {
  background-color: #121212;
  border: 1px solid #121212;
  border-radius: 5px;
  color: #b1b1b1;
}
.practice .selectDateCard {
  background-color: #a83737;
  border: 1px solid #a83737;
  color: #f5f5f5;
  transition-duration: 0.3s;
}

.practice .floatAddPractice {
  position: absolute;
  right: 15px;
  bottom: 20px;
  background-color: #333333;
  font-size: 15px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 1px 1px #5e5e5e3f;
}

.practice .newPractice {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-color: #12121200;
  display: flex;
  flex-direction: column;
  animation-name: popNewPractice;
  animation-duration: 0.3s;
}
.practice .closeSection {
  flex: 1;
  background-color: #a8373700;
}
.practice .buttonBox {
  display: flex;
  border-top: 1px solid #333333;
  border-radius: 10px;
  background-color: #1d1d1d;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 170px;
}
.practice .buttonBox > button {
  height: 100px;
  width: 150px;
  background-color: #333333;
  color: #f5f5f5;
  font-size: 13px;
  font-weight: 200;
  border: none;
  border-radius: 5px;
}

@keyframes popNewPractice {
  0% {
    bottom: -200px;
  }
  100% {
    bottom: 0px;
  }
}
