.teamMain {
  color: #f5f5f5;
  width: 100%;
  height: calc(100vh - 70px);
  overflow-wrap: break-word;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
.teamMain .teamInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 10px 10px 0px 10px;
  padding: 10px 5px 0px 5px;
}
.teamMain .tmamInfoTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.teamMain .tmamInfoTop .menuButton {
  border: none;
  background-color: #1d1d1d00;
  color: #b1b1b1;
  font-size: 20px;
}
.teamMain .tmamInfoTop .name {
  font-size: 20px;
}
.teamMain .menuDiv {
  position: relative;
}
.teamMain .teamInfoMenu {
  width: 700px;
  height: 100%;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  position: absolute;
  top: 100%;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 200;
  transition-duration: 0.3s;
}
.teamMain .openMenu .closeBack {
  flex: 1;
}
.teamMain .menubuttons {
  background-color: #121212;
  gap: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
}
.teamMain .menuContent {
  font-weight: 250;
  text-align: center;
  color: #b1b1b1;
  padding: 10px;
  border-radius: 5px;
  background-color: #1d1d1d;
}
.teamMain .menuContent:hover {
  background-color: #a83737;
}
.teamMain .openMenu {
  top: 0%;
}
.teamMain .joinUrl {
  user-select: all;
}
.teamMain .members {
  color: #b1b1b1;
  height: 25px;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.teamMain .commentContent {
  color: #b1b1b1;
  border: 1px solid #252525;
  background-color: #0a0a0a;
  border-radius: 10px;
  margin-top: 5px;
  font-size: 14px;
  overflow-y: scroll;
  padding: 7px;
  position: relative;
}
.teamMain .commentInput {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #0a0a0a00;
  color: #0a0a0a4f;
  border: none;
}
.teamMain .commentInput:focus {
  background-color: #0a0a0a;
  color: #b1b1b1;
}
.teamMain .members .member {
  background-color: rgb(36, 36, 36);
  padding: 2px;
  font-size: 12px;
  border-radius: 10px;
  padding: 4px;
}
.teamMain .teamSchedule {
  margin: 10px;
  padding-top: 10px;
  overflow: hidden;
  display: flex;
  gap: 5px;
  max-height: 400px;
  overflow: hidden;
}
.teamMain .teamCalender {
  border: 1px solid #1d1d1d;
  background-color: #1d1d1d;
  border-radius: 10px;
  width: 500px;
  min-height: 300px;
  position: relative;
  overflow: hidden;
}
.teamMain .teamScheduleMenu {
  border: 1px solid #33333300;
  border-radius: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.teamMain .teamScheduleMenu .practiceSection {
  width: 100%;
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.teamMain .teamScheduleMenu .practiceSection .thisDayPractice {
  position: relative;
  max-height: 150px;
  overflow-y: scroll;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3px;
  overflow-x: hidden;
}
.teamMain .practiceSection .practice {
  background-color: #1d1d1d;
  border-radius: 5px;
  position: relative;
  height: 40px;
  padding: 5px;
  margin: 0px 5px;
  text-align: start;
  font-weight: 200;
  align-content: center;
  text-align: center;
  overflow: hidden;
  transition-duration: 0.3s;
}
.teamMain .practiceSection .detailOpenPractice {
  background-color: #2c2c2c;
  margin: 0px;
}
.teamMain .practiceSection .practice > div {
  display: flex;
  justify-content: space-between;
}

.teamMain .teamScheduleMenu .scheduleSection {
  border-top: 1px solid #b1b1b1;
  padding-top: 5px;
  height: 52px;
  text-align: center;
  display: flex;
  width: 90%;
  justify-content: center;
  gap: 5px;
  position: relative;
}
.teamMain .scheduleSection .requestSchedule {
  border: 1px solid #2c2c2c;
  background-color: #2c2c2c;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  text-align: center;
  align-content: center;
  font-size: 15px;
  font-weight: 200;
}
.teamMain .scheduleSection .redButton {
  background-color: #a83737;
  border: 1px solid #a83737;
}
.teamMain .teamScheduleMenu .writeState {
  background-color: #1d1d1d;
  border-radius: 10px;
  height: 50px;
  width: 95px;
  display: flex;
  gap: 2px;
  flex-direction: column;
  font-size: 15px;
  font-weight: 200;
  justify-content: center;
}

.teamMain .teamScheduleMenu .writeState .state {
  width: 100%;
  height: 20px;
  display: flex;
  font-size: 15px;
  justify-content: space-around;
}
.teamMain .scheduleSection .writeState .confirm {
  background-color: rgb(22, 22, 22);
  border-radius: 10px;
  width: 30px;
  text-align: center;
  align-content: center;
  font-size: 13px;
}
.teamMain .scheduleSection .writeState .unConfirm {
  background-color: rgb(22, 22, 22);
  border-radius: 10px;
  width: 30px;
  text-align: center;
  align-content: center;
  font-size: 13px;
}
.teamMain .practiceInfoDetailPop {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  right: -110%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #1d1d1d00;
  border-radius: 10px;
  transition-duration: 0.3s;
  overflow: hidden;
  z-index: 99;
  text-align: center;
}
.teamMain .openInfoDetail {
  background-color: #1d1d1d;
  right: 0%;
}
.teamMain .practiceInfoDetail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.teamMain .detailInfoBox {
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.teamMain h3 {
  margin-top: 10px;
  align-self: center;
  font-size: 17px;
  font-weight: 500;
}
.teamMain .detailInfoBox > div {
  font-size: 15px;
  font-weight: 250;
}
.teamMain .detailMembers {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(45px, 1fr));
  gap: 5px;
  width: 90%;
  max-width: 250px;
  overflow-y: scroll;
}
.teamMain .detailMember {
  background-color: #2c2c2c;
  height: fit-content;
  flex: 1;
  padding: 3px;
  font-size: 11px;
  text-align: center;
  border-radius: 5px;
}
.teamMain .buttonBox {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 10px;
}
.teamMain .deletePracticeButton {
  flex: 0.3;
  font-size: 15px;
  width: max-content;
  padding: 4px 4px 2px 4px;
  border-radius: 5px;
  background-color: #a83737;
}
.teamMain .editPracticButton {
  font-size: 15px;
  flex: 0.3;
  width: max-content;
  padding: 4px 4px 2px 4px;
  border-radius: 5px;
  background-color: #2c2c2c;
}

.teamMain .confirmMemberDetail {
  width: 110%;
  height: 0px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px 0px 5px;
  background-color: #1d1d1d;
  border-top: 1px solid #b1b1b1;
  transition-duration: 0.3s;
}
.teamMain .detailOpen {
  height: 300px;
  bottom: 0px;
}
.teamMain .detailClose {
  bottom: -320px;
}
.teamMain .membersBox {
  margin-top: 10px;
  width: 90%;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.teamMain .membersBox > div {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  flex: 1;
  overflow-y: scroll;
}
.teamMain .membersBox > div > h4 {
  font-weight: 500;
}
.teamMain .membersBox > div > div {
  border-radius: 10px;
  background-color: #2c2c2c;
  padding: 2px;
  font-size: 12px;
  color: #b1b1b1;
}
.teamMain .memberDetailButtons {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 70px;
  margin-bottom: 10px;
}
.teamMain .editSchedule {
  flex: 1;
  background-color: #2c2c2c;
  width: 80%;
  border-radius: 5px;
  margin-bottom: 4px;
  text-decoration: none;
  padding: 3px;
  text-align: center;
  align-content: center;
  cursor: pointer;
}
.teamMain .closeDetail {
  flex: 1;
  background-color: #a83737;
  width: 80%;
  border-radius: 5px;
  padding: 3px;
  text-align: center;
  align-content: center;
  cursor: pointer;
}
.teamMain .teamRecord {
  border-top: 1px solid #2c2c2c;
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
  margin: 10px;
  gap: 10px;
}
.teamMain .teamRecord > div {
  flex: 1;
  border-radius: 15px;
  text-align: center;
  align-content: center;
  height: 60px;
  font-size: 14px;
  font-weight: 250;
  border: 1px solid #2c2c2c;
  color: #b1b1b1;
}
.teamMain .value {
  margin-top: 5px;
  font-size: 16px;
  font-weight: 250;
  color: #f5f5f5;
}
.teamMain ::-webkit-scrollbar {
  width: 0px;
  height: 15px;
}
.teamMain .icons {
  transform: translateY(2px);
  margin-right: 1px;
}

@media screen and (max-width: 767px) {
  .teamMain .moreOption .edit {
    flex: 1;
  }
  .teamMain .moreOption .delete {
    flex: 1;
  }
  .teamMain .practiceSection .practice {
    font-size: 14px;
  }
  .teamMain .teamInfoMenu {
    width: 100%;
    left: 0px;
  }
}
