.navbar-top {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 90px;
  align-items: center;
  background-color: transparent;
  z-index: 50;
  user-select: none;
  transition-duration: 0.3s;
}
.desktop {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0px 160px;
  border-bottom: 1px solid #12121250;
}
.logoBox {
  flex: 1;
}
.shortLogo {
  height: 50px;
  width: fit-content;
  transition-duration: 0.3s;
}
.shortLogo:hover {
  height: 60px;
  transform: translateX(-5px);
}
.menuLogo {
  height: 100%;
}
.menu {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: space-around;
}
.linkBox {
  height: 100%;
  text-align: center;
  align-content: center;
}
.link {
  text-decoration: none;
  color: var(--text-more);
  font-size: 15px;
  font-weight: 400;
  transition-duration: 0.3s;
}
.link:hover {
  color: var(--brand-red);
}
.loginButtonBox {
  flex: 1;
  display: flex;
  justify-content: end;
}
.loginButton {
  background-color: var(--brand-red);
  color: var(--text-primary);
  padding: 5px 20px;
  height: min-content;
  width: fit-content;
  border: none;
  border-radius: 3px;
  transition-duration: 0.3s;
}
.loginButton:hover {
  background-color: var(--accent-200);
}

@media screen and (max-width: 767px) {
}
