.main-page {
  width: 100%;
  height: 2000px;
  background-color: var(--background-dark);
}
.background {
  width: 100%;
  display: flex;
  justify-content: center;
}
.liquid {
  width: 100%;
}
.cover {
  position: absolute;
  top: 0px;
  width: 100vw;
  height: 1000px;
  background: linear-gradient(#00000088, var(--background-dark));
  z-index: 20;
}

.main-content {
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 100%;
  color: var(--text-primary);
  top: 65px;
  z-index: 30;
}
@media screen and (min-width: 767px) {
  .liquid {
    width: 72%;
  }
  .cover {
    background: radial-gradient(#0000002c, var(--background-dark) 50%);
  }
}
