.footer {
  display: flex;
  height: 300px;
  width: 100%;
  background-color: #202020;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: space-between;
  align-items: center;
  z-index: 50;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: white;
  text-align: center;
}
.span-red {
  color: #a62415;
}

.link-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}
.link-div > div > * {
  padding: 3px;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
.short-logo {
  height: 70px;
}
.reserved {
  font-size: 11px;
  color: white;
}
@media screen and (max-width: 767px) {
  .footer {
    height: 500px;
  }
}
